body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
h1 {
  display: block;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
  text-align: center;
}

.tile-image {
  height: 200px;
  float: left;
  margin-right: 50px;
}

.card {
  width: 45%;
}

.left {
  float: left;
}

.right {
  float: right;
}

footer {
  text-align: right;
  color: midnightblue;
  clear: both;
}

@media (max-width: 700px) {
  .logo {
    width: 100px;
  }
  h1 {
    font-size: 3.5rem;
    text-align: center;
  }
  .card {
    width: 100%;
  }
  .card img {
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit:contain;
  }
}
