</main>

<footer>
  <!-- Step 4 - Add a dynamic year to the footer using JS. -->
   <% const data = new Date();

const anoAtual = data.getFullYear(); %>
  <p>Copyright © <%= anoAtual %></p>
</footer>

</html>