body {
  background-color: black;
}
h1 {
  text-transform: uppercase;
  font-size: 3rem;
}
div {
  font-family: "Libre Baskerville", sans-serif;
  color: white;
  margin: 50px;
  width: 50%;
  text-align: center;
}
#imagem {
  border: 5px solid white;
  width: 100%;
}
